<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CI/CD Demo Application</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/#page-top">CI/CD Demo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul th:if="${registered}" class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" th:if="${not registered}">

                <b style="color:red">Unregistered version!</b>
            </ul>
        </div>
    </div>
</nav>

<header class="bg-primary text-white" th:if="${page == null}">
    <div class="container text-center">
        <h1>Welcome to CI/CD Demo Application</h1>
        <span th:if="${not registered}">
        <p class="lead">You are running unregistered version!</p>
        </span>
        <span th:if="${registered}">
                <p class="lead">This is a demo application that shows the power of CI/CD philosophy!</p>
            </span>

    </div>
</header>
<section id="about" th:if="${page == null}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
        <span th:if="${registered}">
                <h2>Congratulations!</h2>
                <p class="lead">You are running registered version of the application!</p>
        </span>
                <span th:if="${not registered}">

                <h2>Please register your Application!</h2>
                <p class="lead">Take a moment and register. It's free.</p>
                <p><a href="/register">Register Now></a></p>
         </span>
            </div>
        </div>
    </div>
</section>


<span th:if="${page != null}">
    <span th:include="${page}+@{.html}"></span>
</span>
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Agency Icole 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom JavaScript for this theme -->
<script src="js/scrolling-nav.js"></script>

</body>

</html>